@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Personal Life</h1>
<p>
    Relationships and family
    Downey started dating actress Sarah Jessica Parker in 1984 after meeting her on the set of Firstborn. The couple later separated in 1991 due to his drug addiction.[123]

    Downey married actress and singer Deborah Falconer on May 29, 1992, after a 42-day courtship.[124] Their son was born in September 1993.[125] The strain on their marriage from Downey's repeated trips to rehab and jail finally reached a breaking point; in 2001, in the midst of Downey's last arrest and sentencing to an extended stay in rehab, Falconer left Downey and took their son with her.[124] Downey and Falconer finalized their divorce on April 26, 2004.


    Downey with wife Susan Downey at the 2010 Academy Awards
    In 2003, Downey met producer Susan Downey (née Levin), an executive vice-president of production at Joel Silver's film company, Silver Pictures, on the set of Gothika.[5] Though Susan twice turned down his romantic advances, she and Downey did quietly strike up a romance during production.[126] Despite Susan's worries that the romance would not last after the completion of shooting given that "he's an actor; I have a real job",[126] the couple's relationship continued after production wrapped on Gothika, and Downey proposed to Susan on the night before her thirtieth birthday.[126] In August 2005, the couple were married, in a Jewish ceremony, at Amagansett, New York.[127][128] A tattoo on one of his biceps reads "Suzie Q" in tribute to her.[129] The Downeys' first child, a son, was born in February 2012,[130] and their second, a daughter, was born in November 2014.[131][132][133]

    Downey has been a close friend of Mel Gibson since they starred in Air America. Downey defended Gibson during the controversy surrounding The Passion of the Christ, and said "nobody's perfect" in reference to Gibson's 2006 DUI.[134] Gibson said of Downey: "He was one of the first people to call and offer the hand of friendship. He just said, 'Hey, welcome to the club. Let's go see what we can do to work on ourselves.'"[135] In October 2011, Downey was being honored at the 25th American Cinematheque Awards; Downey chose Gibson to present him with his award for his life's work and used his air time to say a few kind words about Gibson and explain why he chose him to present the award.[136]

    Sobriety
    Downey says he has been drug-free since July 2003[137] and credited his wife with helping him overcome his drug and alcohol habits, along with his family, therapy, meditation, twelve-step recovery programs, yoga, and the practice of Wing Chun kung fu,[26] the martial art he learned from Eric Oram, who is also a fight consultant in several of Downey's movies.[138][139] Oram was Downey's personal fight coordinator in Avengers: Age of Ultron and Captain America: Civil War.[140] In December 2015, Downey received a full and unconditional pardon from Governor of California Jerry Brown for his prior drug convictions.[141][142] Oram wrote a letter in support of Downey's pardon to Governor Brown.[143] When asked on The Oprah Winfrey Show how he was able to make his sobriety stick this time, Downey said: "It's really not that difficult to overcome these seemingly ghastly problems. What's hard is to decide to do it."[144]


    Downey Jr. with William Cheung and Eric Oram (2005)
    Religious beliefs
    Downey has described his religious beliefs as "Jewish Buddhist",[145] and he is reported to have consulted astrologers.[146] In the past, Downey has been interested in Christianity and the Hare Krishna movement.[145]

    Political views
    In a 2008 interview, Downey stated that his time in prison changed his political point of view somewhat, saying: "I have a really interesting political point of view, and it's not always something I say too loud at dinner tables here, but you can't go from a $2,000-a-night suite at La Mirage to a penitentiary and really understand it and come out a liberal. You can't. I wouldn't wish that experience on anyone else, but it was very, very, very educational for me and has informed my proclivities and politics ever since."[147] However, when asked about the quote in a 2015 interview to promote Avengers: Age of Ultron, he denied that his previous statement reflected any longstanding beliefs on his part, and stated: "I wouldn't say that I'm a Republican or a liberal or a Democrat."[148]

    Downey serves on the board of the Anti-Recidivism Coalition.[149]

    In January 2020, during the promotions of his film Dolittle, Downey announced that he had made the decision to adopt a vegan diet, in response to the debate about the climate crisis, stating that "I'm a one-man carbon footprint nightmare colossus"[150] and believes he can do his part to contribute. Downey previously announced his opening of The Footprint Coalition, an organization he launched to reduce carbon footprints around the world using advanced technology.[151] The Footprint Coalition promotes technologies that protect the environment such as French insect-farming startup Ynsect,[152] the bio-based alternative to plastic manufacturer RWDC,[153] and bamboo toilet paper manufacturer Cloud Paper.[154][155]
</p>
