body {
}
.card img {
    width: 100%;
    border: none;
    margin: 0px;
}
.im .d-flex{
    width: 50%;
}
.logo{
    height: 60px;
}
.mainwindow{
    margin: 0px;
}
.background {
    background-color: rgba(0,7,13,255);
}
.information{
    border: 1px solid white;
}