.card img {
    width: 100%;
    border: none;
    margin: 0px;
}
.im .d-flex{
    width: 50%;
}
.logo{
    height: 60px;
}
.mainwindow{
    margin: 0px;
}
.background {
    background-color: rgba(0,7,13,255);
}
.information{
    border: 1px solid white;
    transition: .5s;
}
.information:hover{
    box-shadow: 0px 0px 8px 2px white;
}
.card-title a{
    color: white;
    text-decoration: none;
}
.card-title img {
    height: 200px;
    object-fit: contain;
    padding: 8px;
    border-radius: 8px;
}
.details-card .card-header {
    display: grid;
    grid-template-columns: 40px 1fr 40px;
    align-items: center;
}
.white-back{
    background-color:white;
}   

.zoom {
    transition: .4s;
}

.zoom:hover {
    transform: scale(3.2);
}
.texts{
    text-decoration: none;
}
.check input:checked{
    background-color:red;
    box-shadow: 0px 0px 0.1px 0.1px red;
    border: 0.1px solid red;
}
.red-back{
    color: red;
}
.red-back-links {
    color: red;
}
.red-back-links:hover{
    color:darkred;
}
.red-back-links:active{
    background-color:red;
}
.red-back-links:enabled{
    background-color:red;
}
.cart-item{
    text-decoration: none;
    color:white;
}
.cart-item:hover{
    color:lightgray;
}
